/* NLPSolutions.css */

.nlp-section {
    padding: 15px;
    color: var(--charcoal);
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
  }
  
  .hero-3d-wrapper {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  
  .hero-canvas {
    width: 100%;
    height: 100%;
  }
  
  .hero-text{
    height: 100vh;
  }
  
  .intro {
    font-size: 14px;
    margin-bottom: 2.5rem;
    line-height: 1.7;
  }
  
  .nlp-cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 3rem;
  }
  
  .nlp-card {
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 28%;
  transition: all 0.3s ease;
  opacity: 0.9;
   transform: scale(1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  .nlp-card:hover {
    transform: scale(1.02);
  background-color: var(--white);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  }
  
  .nlp-card h3 {
   font-family: "Figtree", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--grayish);
  margin-bottom: 0.5rem;
  }
  
  .nlp-card p {
    font-family: "Figtree", sans-serif;
  font-size: 18px;
  color: var(--charcoal);
  line-height: 1.4;
  }
  
  