/* PredictiveAnalytics.css */

.predictive-section {
    padding: 15px;
    color: var(--charcoal);
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
  }
  .hero-3d-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .hero-text{
    height: 100vh;
  }
  
  .hero-text .title {
    font-size: 100px;
    font-family: "Figtree", sans-serif;
    color: var(--charcoal);
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .container .intro {
    font-size: 18px;
    color: var(--charcoal);
    text-transform: capitalize;
    font-family: "Figtree", sans-serif;
  }
  
  .section {
    margin-bottom: 2.5rem;
  }
  
  .section h2 {
    font-size: 54px;
    font-family: "Figtree", sans-serif;
    text-transform: uppercase;
    color: var(--charcoal);
    margin-bottom: 1rem;
  }
  
  .cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.offer-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 28%;
  transition: all 0.3s ease;
  opacity: 0.9;
   transform: scale(1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.offer-card:hover {
  transform: scale(1.02);
  background-color: var(--white);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.offer-card h3 {
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--grayish);
  margin-bottom: 0.5rem;
}

.offer-card p {
  font-family: "Figtree", sans-serif;
  font-size: 18px;
  color: var(--charcoal);
  line-height: 1.4;
}

  .industry-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .industry-card {
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 20px;
    opacity: 0.9;
   transform: scale(1);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  .industry-card:hover {
    transform: scale(1.02);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  background-color: var(--white);
  transition: all 0.5s ease;
  }
  
  .industry-card h3 {
    font-size: 20px;
    color: var(--charcoal);
    margin-bottom: 0.75rem;
    text-transform: uppercase;
  }
  
  .industry-card p {
    font-size: 16px;
    line-height: 1.6;
  }


  
 .infinite-scroll-container {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.infinite-scroll-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 40s linear infinite;
}

.infinite-scroll-group {
  display: flex;
  gap: 10rem;
  padding-right: 10rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-image img {
  height: 50px;
  object-fit: contain;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
  transition: transform 0.3s ease;
}

.scroll-image img:hover {
  transform: scale(1.1);
}



  
  