:root {
  --charcoal: #000000;
  --grayish: #66666e;
  --white: #f4f4f6;
  --overlay-bg: rgba(0, 0, 0, 0.5);
}

body{
  margin: 0;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-optical-sizing: auto;
  padding: 15px;
  background-color: var(--white);
  color: var(--charcoal);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: 400;
  color: var(--charcoal);
  font-family: "Figtree", sans-serif;
}

.menu-button {
  background: none;
  border: none;
  color: var(--charcoal);
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  font-weight: 600;

  align-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  z-index: 101;
}


.contact-link .nav-link {
  color: var(--charcoal);
  text-decoration: none;
  font-family: "Figtree", sans-serif;
  align-items: center;
  font-weight: 600;
  align-content: center;
  display: flex;
  font-size: 16px;
  transition: color 0.3s ease;
}
.nav-link span{
  margin: 0px 5px;
  font-size: 20px;
  color: lightgray;
  font-weight: 200;
}

.contact-link .nav-link:hover {
  color: var(--grayish);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  backdrop-filter: blur(5px);
  z-index: 998;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding: 25px;
  z-index: 999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.close-button {
  position: absolute;
  top: 15px;
  left: 20px;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--charcoal);
  cursor: pointer;
  z-index: 1000;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--grayish);
}

.dropdown-item {
  font-size: 24px;
  font-weight: 600;
  color: var(--charcoal);
  text-decoration: none;
  font-family: "Figtree", sans-serif;
  transition: color 0.3s ease;
}
.dropdown-item small{
  font-size: 14px;
    font-family: "Figtree", sans-serif;
  color: var(--grayish);
}

.dropdown-item:hover {
  color: var(--grayish);
}
