.ml-container {
  font-family: "Figtree", sans-serif;
  padding: 20px;
  color: var(--charcoal);
}

.ml-header {
  height: 100vh;
}

.ml-header h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 5px;
  color: var(--charcoal);
  margin-bottom: 1rem;
}


.ml-header p {
  font-size: 20px;
  color: var(--grayish);
  margin-bottom: 3rem;
}

.ml-section {
  margin-bottom: 4rem;
}

.ml-section h2 {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--charcoal);
}

.ml-section p,
.ml-section ul li {
  font-size: 18px;
  line-height: 1.6;
  color: var(--charcoal);
}

.ml-section ul {
  padding-left: 1.5rem;
}

.ml-section ul li::before {
  content: "\2022";
  color: var(--purpleAccent);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.ml-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.ml-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  padding: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.ml-card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.ml-card h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--grayish);
  margin-bottom: 0.75rem;
}

.ml-card p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--charcoal);
}

.ml-section .apply-btn {
 border: 1px solid var(--charcoal);
    color: var(--white);
    padding: 15px 20px;
    font-size: 1rem;
    font-family: "Figtree", sans-serif ;
    border-radius: 25px;
    background-color: var(--charcoal);
    text-align: left;
    cursor: pointer;
}

.ml-section .apply-btn:hover {
    background-color: white;
    color: var(--charcoal);
    transition: all 0.4s ease-in-out;
}